/* CSS General  <START> */

.center-text {
	text-align: center;
}
.right-text {
	text-align: right;
}
/* CSS General  <STOP> */



/* Message Box  <START> */

.msg_box {
    visibility: hidden;
}

.restart_button {
    visibility: hidden;
}

/* Message Box  <STOP> */