/* CSS General  <START> */

.center-text {
    text-align: center;
}
.top_bar {
    margin-bottom: 10px;
}
.footer {
    width: 100%;
}
body {
    background-color: #bdbdbd;
    min-width: 450px;
}

/* CSS General  <STOP> */



/* Grid  <START> */

.center-container {
    width: 100%;
}

.grid_container {
    width: 50%;
    margin: 0 auto;
    max-width: 370px;
}

.tris_grid{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
  
.tris_grid > div {
    margin: 10px;
    text-align: center;
}

.tris_row {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 33.3%;
}

.tris_row span {
    margin-top: 25%;
    display: block;
}

.tris_row > div {
    margin: 10px;
    text-align: center;
    border-style: solid;
    border-width: 5px;
    width: 33.3%;
	height: 100%;
}

/* Grid  <STOP> */