@import './../../main.scss';

.field__container {
    width: $field__lenght-relative;
    max-width: $field__lenght;
    margin: auto;

    .field__perimeter {
        width: 100%;
        height: $field__lenght-relative;
        max-height: $field__lenght;

        .field__row{
            height: 33.33%;
            border-style: solid;
            border-width: 0px;
            box-sizing: border-box;
        }

        .field__column {
            width: 33.33%;
            height: 100%;
            display: inline-block;
            border-style: solid;
            border-width: 0px;
            overflow: hidden;
            box-sizing: border-box;
        }

        .field__column-0 {
            border-right-width: $field__border-width;
            border-right-color: $field__border-color;
        }

        .field__column-1 {
            border-right-width: $field__border-width;
            border-right-color: $field__border-color;
        }
        
        .field__column-2 {
            border-right-width: $field__border-width;
            border-right-color: transparent;
        }

        .field__row-0 {
            border-bottom-width: $field__border-width;
            border-bottom-color: $field__border-color;
        }

        .field__row-1 {
            border-bottom-width: $field__border-width;
            border-bottom-color: $field__border-color;
        }
        
        .field__row-2 {
            border-bottom-width: $field__border-width;
            border-bottom-color: transparent;
        }
    }
}

@media only screen and (max-width: $main__viewport-limit) {
    
    .field__container {
        width: $field__lenght-relative-responsive;
        max-width: $field__lenght_responsive;

        .field__perimeter {
            width: 100%;
            height: $field__lenght-relative-responsive;
            max-height: $field__lenght-responsive;
        }
    }
}