@import './../../main.scss';

.scoreboard__container {
    order: 1;
    
    .scoreboard__cross-score, .scoreboard__circle-score {
        width: 100%;

        .scoreboard__symbol {
            display: inline-block;
            width: 25%;
            text-align: center;
            font-size: 2em;
        }

        .scoreboard__colon {
            display: inline-block;
            width: 5%;
            text-align: center;
            font-size: 2.3em;  
        }

        .scoreboard__score {
            display: inline-block;
            width: 25%;
            text-align: center; 
            font-size: 2.2em;
        }

        .scoreboard__icon {
            display: inline-block;
            width: 45%;
            text-align: center;
            font-size: 1.8em;
        }
    }
}


@media only screen and (max-width: $main__viewport-limit) {
    
    .scoreboard__container {
        order: 2;

        .scoreboard__cross-score {
            margin: 10px auto 0px;
        }

        .scoreboard__circle-score {
            margin: 0px auto 10px;
        }
    
        .scoreboard__cross-score, .scoreboard__circle-score {
            width: 80%;

            .scoreboard__symbol {
                font-size: 2em;
            }
    
            .scoreboard__colon {
                font-size: 2.3em;  
            }
    
            .scoreboard__score { 
                font-size: 2.2em;
            }
    
            .scoreboard__icon {
                font-size: 1.8em;
            }
        }
    }
}