@import './../../main.scss';

.level__container {
    width: 100%;
    order: 3;
    padding-top: 2vh;

    .level__selector-container {
        width: 100%;

        .level__arrow-left {
            width: 20%;
            display: inline-block;
            text-align: center;
        }

        .level__text-container {
            width: 60%;
            display: inline-block;
            text-align: center;
            overflow: hidden;

            .level__text-label{
                width: 100%;
                font-size: 1.4em;

                &--hidden {
                    display: none;
                }

                &--visible {
                    display: unset;
                }
            }
        }

        .level__arrow-right {
            width: 20%;
            display: inline-block;
            text-align: center;
        }
    }
}

@media only screen and (max-width: $main__viewport-limit) {

    .level__container {
        order: 3;
        padding-top: 0;

        .level__selector-container {
            width: 80%;
            margin: 10px auto;

            .level__text-container {
    
                .level__text-label{
                    font-size: 1.8em;
                }
            }
        }
    }
}