@import './../../main.scss';

$square__circle-color: #F3B363;
$square__cross-color: #F6E39B;
$square__item-width: 10px;
$square__item-width-dev: $square__item-width / 2;
$square__animation-duration: 0.5s;
$square__animation-timing-function: ease-in;
$square__animation-name:openItem;


@keyframes openItem {
    0% {
        transform: scale(0,0);
    }
    100% {
        transform: scale(1, 1);
    }
}

.square__container {
    position: relative;
    height: $square__height-relative;
    max-height: $square__max-height;

    .square__content {
        &--circle {
            position: relative;
            height: 80%;
            width: 80%;
            box-sizing: border-box;
            margin-top: 10%;
            margin-left: 10%;
            border-color: $square__circle-color;
            border-width: $square__item-width;
            border-style: solid;
            border-radius: 50%;
            animation-name: $square__animation-name;
            animation-duration: $square__animation-duration;
            animation-timing-function: $square__animation-timing-function;
        }

        &--cross {
            margin-top: 10%;
            margin-left: 10%;
            height: 80%;
            width: 80%;
            position: relative;
            transform:rotate(45deg);
        }

        &--cross:before, &--cross:after {
            content: "";
            position: absolute;
            z-index: -1;
            background: $square__cross-color;
            animation-name: $square__animation-name;
            animation-duration: $square__animation-duration;
            animation-timing-function: $square__animation-timing-function;
          }
          
          &--cross:before {
            left: calc(50% - #{$square__item-width-dev});
            width: $square__item-width;
            height: 100%;
          }
          
          &--cross:after {
            top: calc(50% - #{$square__item-width-dev});
            height: $square__item-width;
            width: 100%;
          }
    }
}