@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');

// Main
$main__background-color: #FAFAE0;
$main__viewport-limit: 780px;

// Field
$field__border-width: 5px;
$field__border-color: #D3626E;
$field__lenght: 450px;
$field__lenght-relative: 450px;
$field__lenght_responsive: 95vw;
$field__lenght-relative-responsive: 95vw;

// Square
$square__max-height: $field__lenght / 3;
$square__height-relative: $field__lenght-relative / 3;
$square__max-height-responsive: $field__lenght_responsive / 3;
$square__height-relative-responsive: $field__lenght-relative-responsive / 3;